@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --skin-color: #ec1839;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    background-color: black;
    overflow-x: hidden;
    font-family: 'poppins', sans-serif;

}

.active {
    color: red !important;
}

.nav-bar {
    width: 100%;
    height: 60px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(55, 54, 54);
}

.nav-bar .container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    font-size: 1.3rem;

}

.nav-bar .container li {
    list-style: none;
}

.nav-bar .container li a {
    font-weight: 550;
    text-decoration: none;
    color: white;

}

.nav-bar .container li .icon {
    margin-right: 5px;
}

.landing-page-0 {
    width: 100%;
    height: 90vh;
}

.container-0 {
    position: relative;
    width: 90%;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-0 .home-content {
    padding: 20px;
    width: 50%;
    height: 70vh;
    color: white;
    /* border: 1px red solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-content h3 {
    font-size: 2.2rem;

}

.gradient {
    font-weight: 900;
    font-size: 3rem;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(264deg, rgba(231, 155, 92, 1) 0%, rgba(172, 119, 119, 1) 49%, rgba(3, 149, 255, 1) 100%);
}

.home-content p {
    margin-top: 20px;
    font-size: 1.2rem;
}

.contact-btn {
    font-size: 20px;
    font-weight: 500;
    background-color: var(--skin-color);
    color: white;
    margin-top: 20px;
    padding: 15px 35px;
    width: 150px;
    text-align: center;
    border-radius: 13px;
    border: none;
    transition: all 0.6s ease;
    cursor: pointer;
    border: 2px solid var(--skin-color);
}

.contact-btn:hover {
    background-color: black;
}

.contact-btn a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 1.5;
}



.background {
    position: absolute;
    right: 150px;
    width: 30%;
    height: 20vh;
    z-index: -1;
    filter: blur(100px);
    background-image: linear-gradient(264deg, rgb(255, 234, 0) 0%, rgb(235, 247, 9) 100%);
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes move {
    0% {
        transform: translateX(-70px) rotate(0deg) scaleY(1.0);
    }

    50% {
        transform: translateX(70px) rotate(180deg) scaleY(1.2);
    }

    100% {
        transform: translateX(-70px) rotate(0deg) scaleY(1.0);
    }

}

.container-0 .img {
    right: 40%;
    width: 40%;
    height: 70vh;
    
}

.container-0 .img img {
    width: 100%;
    height: inherit;
    object-fit: contain;
    border-radius: 50%;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: slide;
    animation-timing-function: ease-in-out;
}

@keyframes slide {
    0% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(+15px)
    }

    100% {
        transform: translateY(-15px)
    }
}

.landing-page-1 {
    width: 100%;
}

.landing-page-1 .container-1 {
    width: 90%;
    height: auto;
    padding: 40px 0;
    margin: auto;
    display: flex;
    flex-direction: column;

}

.title {
    color: white;
    font-size: 50px;
    margin-bottom: 40px;
    position: relative;

}

.title::before {
    position: absolute;
    content: " ";
    height: 60px;
    width: 60px;
    left: 3px;
    border-bottom: 3px solid #ec1839;
}

.title::after {
    position: absolute;
    content: " ";
    height: 65px;
    width: 35px;
    left: 3px;
    border-bottom: 3px solid red;
}

.container-1 .project-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project-item .item {
    background-color: rgb(27, 23, 23);
    display: flex;
    width: 350px;
    flex-direction: column;
    border: 1px solid rgb(80, 79, 79);
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.project-item .item:hover {
    transform: translateY(10px);
    background-color: rgb(57, 55, 55);

}

.project-item .item img {
    height: 300px;
    padding: 10px 10px 5px 10px;
    object-fit: contain;
}

.project-item .item h3 {
    font-size: 1.5rem;
    color: rgb(255, 193, 47);
    margin: 10px 0;
}

.project-item .item p {
    color: white;
    padding: 5px 10px 20px 5px;
}

.landing-page-2 {
    margin: 80px 0;
    width: 100%;
}

.landing-page-2 .container-2 {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.landing-page-2 .container-2 h1 {
    margin-bottom: 10px;
}

.landing-page-2 .container-2 h3 {
    color: white;

}

.landing-page-2 .container-2 h3 span {
    font-size: 30px;
}

.landing-page-2 .container-2 p {
    font-size: 1.2rem;
    color: white;
}

.landing-page-2 .skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 40px;
    justify-content: space-evenly;
}

.landing-page-2 .skills .skill {
    /* border: 1px solid red; */
    width: 40%;
    display: flex;
    flex-direction: column;
    color: white;
}

.landing-page-2 .skills .skill .skill-name {
    display: flex;
    justify-content: space-between;
}

.landing-page-2 .skills .progress-bar {
    background-color: rgb(64, 63, 63);
    border-radius: 5px;
}

.landing-page-2 .skills .progress {
    border-radius: 5px;
    background-color: #ec1839;
    height: 10px;
}

.landing-page-2 .btns {
    display: flex;
    gap: 2rem;
    margin: auto;
    margin-top: 40px;
}

.download-cv {
    width: 200px;
    
}

.landing-page-3 {
    width: 100%;
    margin: 80px 0;
    min-height: 50vh;
}

.landing-page-3 .container-3 {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.landing-page-3 .contact-box {
    min-height: 50vh;
    width: 70%;
    margin: auto;
    display: flex;
    border: 1px solid rgb(119, 116, 116);
    border-radius: 25px;
    gap: 2rem;
    background-color: rgb(195, 215, 246);


}

.landing-page-3 .contact-text {
    width: 40%;
    border: 1px solid #ec1839;
    background-color: #ec1839;
    color: white;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.landing-page-3 .contact-text .text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.landing-page-3 .contact-text .text h1 {
    font-size: 2.3rem;
}

.landing-page-3 .contact-text .social,
footer .social {
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

.landing-page-3 .contact-text .social a,
footer .social a {
    color: white;
    transition: all 0.5s;

}

.landing-page-3 .contact-text .social a:hover {
    color: rgb(11, 10, 10);
}

.landing-page-3 .contact-box .contact-form {
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */

}

.landing-page-3 .contact-form input,
textarea {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 10px;
    margin-bottom: 20px;

}

.landing-page-3 .contact-form textarea {
    height: 150px;
}

.landing-page-3 .contact-form .send-message {
    width: 210px;
    font-size: 1.2rem;
    padding: 12px 10px;
}

.landing-page-3 .contact-form .fa-paper-plane {
    margin-left: 10px;
}

footer {
    width: 100%;
    margin-top: 80px;
    padding: 10px;
}

footer p {
    color: var(--skin-color);
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
}


/* ================Responsive-design-tablet-start================ */
@media (min-width: 481px) and (max-width: 1024px) {
    .container-0 {
        height: 55vh;

    }

    .container-0 .img {
        display: none;
    }

    .container-0 .home-content {
        width: 100%;
        text-align: center;
    }

    .container-0 .hire-me {
        margin: 40px auto;
    }

    .landing-page-0 {
        height: 60vh;
    }

    .container-1 .project-item {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .container-1 .project-item .item {
        width: 300px;
    }

    .landing-page-3 .contact-box {
        flex-direction: column;
    }

    .landing-page-3 .contact-box .contact-text {
        width: 100%;
        height: 250px;
        text-align: center;
    }

    .landing-page-3 .contact-box .contact-form {
        width: 90%;
        margin: auto;
    }

    .landing-page-3 .contact-box .contact-form .send-message {
        margin: auto;
    }
}

/* ================Responsive-design-tablet-end================ */

@media (max-width: 481px) {
    .nav-bar {
        z-index: 100;
        position: fixed;
        background-color: rgb(0, 0, 0, 0.6);
    }

    .nav-bar .container {
        gap: 1rem;
        text-align: center;
    }

    .container-0 {
        padding-top: 67px;
        height: 100vh;

    }

    .container-0 .hire-me {
        margin: 20px auto;
    }

    .container-0 .img {
        display: none;
    }

    .container-0 .home-content {
        width: 100%;
        text-align: center;
    }

    .container-1 .project-item {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .landing-page-3 .contact-box {
        flex-direction: column;
        width: 100%;
    }

    .landing-page-3 .contact-box .contact-text {
        width: 100%;
        height: 250px;
        text-align: center;
    }

    .landing-page-3 .contact-box .contact-form {
        width: 90%;
        margin: auto;
    }

    .landing-page-3 .contact-box .contact-form textarea {
        height: 100px;
    }

    .landing-page-3 .contact-box .contact-form .send-message {
        margin: auto;
    }
}